<br>
<h1 style="text-align:center; margin-top:30px;"><u><b>Your Cart</b></u></h1>

{% if cart_items %}
  {% for cart_item in cart_items %}
    <div class="cart-item">
      <img src="{{ cart_item.food.food_image.url }}" alt="{{ cart_item.food.food_name }}" class="menu-image">
      <h4>{{ cart_item.food.food_name }}</h4>
      <p>Quantity: {{ cart_item.quantity }}</p>
      <form method="post" action="{% url 'foodapp:remove_from_cart' cart_item.food.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Remove</button>
      </form>
    </div>
  {% endfor %}
{% else %}
  <h3 style="text-align:center;">No items in the cart.</h3>
{% endif %}