<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-box">
        <h1>Login</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="login-form" method="POST">
            {% csrf_token %}
            <div class="textbox">
                <i class="fas fa-user"></i>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <br>
            <div>
                <input type="submit" class="btn" style="color:white;" value="Login">
            </div>
        </form>
        <br>
        <div>
            <b> Don't Have Account ? &nbsp <a href="{% url 'foodapp:signup' %}" style="color: white;"> <span><u>Sign Up<u></span></a><b>
        </div>
    </div>
</body>
</html>
