<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	{% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}" />

    <style>
        main{
            background: url("/static/images/background.jpeg") no-repeat;
            background-size: cover;
        }
        .menu-card {
            position: relative;
            text-align: center;
            padding: 10px;
        }

        .menu-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
        }

    </style>

    <link href="https://fonts.googleapis.com/css?family=Caveat:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bevan&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>FOOD ZONE | Home</title>
	<link rel="shortcut icon" href="{% static 'images/favico.png' %}" type="image/x-icon">
  </head>
    <nav class="navbar navbar-expand-lg navbar-light" style="position: fixed;width:100%;background-image: linear-gradient(180deg,#FFF,#FFF);box-shadow: 0px 0px 7px 0px #404040;">
        <a class="navbar-brand" href="/"><h2 style="color:black;font-family:sans-serif;font-weight:bolder;"><b>FOOD ZONE</b></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="margin-left:auto!important;margin-right:30px;">
                <li class="nav-item active">
                <a class="nav-link" id="nav-link" href="{% url 'foodapp:home'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_staff %}
                <li class="nav-item active ml-auto">
                    <a class="nav-link" id="nav-link" href="{% url 'foodapp:add_food' restaurant.pk %}">AddFood<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item active ml-auto">
                    <a class="nav-link" id="nav-link" href="{% url 'logout'%}">Logout<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" id="nav-link" href="{% url 'foodapp:login' %}">Login <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <main style="width:100%;margin-top: 0;margin-bottom: 10px;background-color:#FFF;" class="mt-5">
        <div class="container">
            <h1 class="text-center mt-5">Menu List for {{ restaurant.restaurant_name }}</h1>
            <div class="row">
                {% for food in foods %}
                <div class="col-md-4 mb-4">
                    <div class="menu-card">
                        <img src="{{ food.food_image.url }}" alt="{{ food.food_name }}" style="height: 50%;width: 50%;"class="menu-image">
                        <h3>{{ food.food_name }}</h3>
                        <a href="{% url 'foodapp:add_to_cart' food.id %}" class="btn btn-success">Add to Cart</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</html>


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu List for {{ restaurant.restaurant_name }}</title>
</head>
<body>
    <h1>Menu List for {{ restaurant.restaurant_name }}</h1>
    {% for food in foods %}
    <div>
        <img src="{{ food.food_image.url }}" alt="{{ food.food_name }}">
        <h3>{{ food.food_name }}</h3>
    </div>
    {% endfor %}
</body>
</html> {% endcomment %}
