<!-- orders.html -->
<h2>Your Orders</h2>
<table>
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Food</th>
            <th>Restaurant</th>
            <th>Ordered At</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.food.food_name }}</td>
                <td>{{ order.restaurant.restaurant_name }}</td>
                <td>{{ order.ordered_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
