<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>New Restaurant</title>
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="login-box">
        <h1>New Restaurant</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form class="login-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="textbox">
                <i class="fas fa-user"></i>
                <label for="id_restaurant_name">Restaurant Name:</label>
                {{ form.restaurant_name }}
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <label for="id_restaurant_image">Restaurant Image:</label>
                {{ form.restaurant_image }}
            </div>
            <br>
            <div>
                <input type="submit" class="btn" style="color:white;" value="Add">
            </div>
        </form>
        <br>
    </div>
</body>
</html>
