<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	{% load static %}
    <meta charset="utf-8">
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}" /> {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}" />
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" /> {% endcomment %}
    <style>
        main{
            background: url("/static/images/background.jpeg") no-repeat;
            background-size: cover;
        }
        .restaurant-card {
            position: relative;
            text-align: center;
            padding: 10px;
        }

        .restaurant-image {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 8px;
        }

        .restaurant-name {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 5px;
            border-radius: 0 0 8px 8px;
            font-weight: bold;
        }
        .modal-content {
            max-width: 500px;
            margin: 0 auto;
        }
        
        .modal-title {
            font-size: 24px;
        }
        
        .delete-message {
            font-size: 18px;
            margin-bottom: 10px;
        }
        
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        
        .modal-button-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }
        
        .confirm-button {
            margin-right: 10px;
        }
        
        .cancel-button {
            background-color: #ccc;
            border: none;
        }
        
    </style>
    <link href="https://fonts.googleapis.com/css?family=Caveat:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bevan&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <title>FOOD ZONE | Home</title>
	<link rel="shortcut icon" href="{% static 'images/favico.png' %}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>
    <nav class="navbar navbar-expand-lg navbar-light" style="position: fixed;width:100%;background-image: linear-gradient(180deg,#FFF,#FFF);box-shadow: 0px 0px 7px 0px #404040;">
        <a class="navbar-brand" href="/"><h2 style="color:black;font-family:sans-serif;font-weight:bolder;"><b>FOOD ZONE</b></h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav" style="margin-left:auto!important;margin-right:30px;">
                <li class="nav-item active">
                <a class="nav-link" id="nav-link" href="{% url 'foodapp:home'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if request.session.is_login and request.session.user_role == 'admin' %}
                <li class="nav-item active ml-auto">
                    <a class="nav-link" id="nav-link" href="{% url 'foodapp:add_restaurant'%}">AddRestaurant<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if request.session.is_login and request.session.user_role == 'user' %}
                <li class="nav-item active ml-auto">
                    <a class="nav-link" id="nav-link" href="{% url 'foodapp:cart'%}">Cart<span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
                {% if request.session.is_login %}
                <li class="nav-item active ml-auto">
                    <a class="nav-link" id="nav-link" href="{% url 'logout'%}">Logout<span class="sr-only">(current)</span></a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" id="nav-link" href="{% url 'foodapp:login' %}">Login <span class="sr-only">(current)</span></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main style="width:100%;margin-top: 70px;margin-bottom: 10px;background-color:#FFF;">
        <div class="container">
            <h1 class="text-center pt-2">Restaurant List</h1>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <div class="row">
                {% for restaurant in restaurants %}
                <div class="col-md-4 mb-4">
                    <div class="restaurant-card">
                        <a href="{% url 'foodapp:menu_list' restaurant.id %}">
                            <img src="{{ restaurant.restaurant_image.url }}" alt="{{ restaurant.restaurant_name }}" class="restaurant-image">
                        </a>
                        <div style="font-weight: bold;">{{ restaurant.restaurant_name }}</div>
                        {% if request.session.is_login and request.session.user_role == 'admin' %}
                            <div class="col-mb-4 mb-4">
                                <button class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteModal{{ restaurant.id }}">Delete</button>
                                <a href="{% url 'foodapp:update_restaurant' restaurant.pk %}" class="btn btn-info">Update</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal fade" id="deleteModal{{ restaurant.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p class="delete-message">Are you sure you want to delete this restaurant?</p>
                                <h2>{{ restaurant.restaurant_name }}</h2>
                                <form method="POST" action="{% url 'foodapp:delete_restaurant' restaurant.pk %}">
                                    {% csrf_token %}
                                    <div class="modal-button-container">
                                        <input type="submit" class="btn btn-danger confirm-button" value="Confirm Delete">
                                        <button type="button" class="btn btn-secondary cancel-button" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                // Get CSRF token from cookies
                var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                
                $('.delete-button').click(function() {
                    var restaurantId = $(this).data('restaurant-id');
                    
                    // Set the form's action attribute with the correct URL
                    $('#deleteModal form').attr('action', '/foodapp/delete_restaurant/' + restaurantId + '/');
                    
                    // Open the modal
                    $('#deleteModal').modal('show');
                });
                
                $('#confirm-delete-button').click(function() {
                    var form = $('#deleteModal form');
                    
                    // Make the DELETE request
                    $.ajax({
                        url: form.attr('action'),
                        method: 'DELETE',
                        headers: { 'X-CSRFToken': csrftoken },  // Include CSRF token
                        success: function(response) {
                            if (response.success) {
                                // Close the modal
                                $('#deleteModal').modal('hide');
                                
                                // Remove the deleted restaurant from the DOM
                                var restaurantId = form.attr('action').split('/').slice(-2, -1)[0];
                                $('#restaurant-' + restaurantId).remove();
                            } else {
                                alert('An error occurred while deleting the restaurant.');
                            }
                        },
                        error: function() {
                            alert('An error occurred while deleting the restaurant.');
                        }
                    });
                });
            });
        </script>
        
        
    </main>
</html>
