<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="login-box" style="">
        <h1>Register Here</h1>
        {% if error_msg %}
            <p>{{ error_msg }}</p>
        {% endif %}
        <form class="login-form" method="POST">
            {% csrf_token %}
            <div class="textbox">
                <i class="fas fa-user"></i>
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" required>
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <label for="contact">Contact:</label>
                <input type="text" name="contact" id="contact" required>
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
            </div>

            <div class="radio-box">
                <label>Role:</label><br>
                <label><input type="radio" name="role" value="user" checked> User</label><br>
                <label><input type="radio" name="role" value="admin"> Admin</label><br>
            </div>

            <br>
            <div>
                <input type="submit" class="btn" style="color:white;" value="Register">
            </div>
            <br>
            <div>
                <b> Already Have an Account  &nbsp <a href="{% url 'foodapp:login' %}" style="color: white;"> <span><u>Login<u></span></a><b>
            </div>
        </form>
        <br>
    </div>
</body>
</html>
